body {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #00bfa5 15%,
    #f0f0f0 15%,
    #f0f0f0 100%
  );
}
main {
  height: 90vh;
}
#chat {
  background-color: #ece5dd;
}

.bg-chat-color {
  background-color: #ece5dd;
}
.bg-light-gray {
  background-color: #eaeaea;
}
.bg-chat-image {
  background-image: url(../img/mine.jpg);
}
#chat header,
#chat footer,
.user-section {
  height: 70px;
}
.notifiche {
  height: 80px;
  background-color: #8edafc;
}
